@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    --background: #FFF;
    --textColorB7: #e7e7e7;
    --dark: #000;
    --blue: #0000bd;
    --darkblue: #000066;
    --red : #F00;
    --lightDark: #222;
    background-color: var(--background);
    font-family: 'Ubuntu', sans-serif;
}

form fieldset{
    padding: 5px;
    color:var(--dark);
    border: 0px solid var(--textColorB7);
    background-color: var(--textColorB7);
    border-radius: 30px;
    width: 50%;
    position: absolute;
    top: 35%;
    left: 24.6%;
    margin: -25px 0 0 auto;
}

.thumbnail{
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.watermark{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 110px;
    background: transparent;
}

.inner2{
    border: 3px solid var(--lightDark);
}

.required{
    width: 70%;
    border: 2px solid var(--red);
    background-color: var(--darkblue);
    color: var(--background);
    padding: 1% 1%;
    margin: 0px auto;
    border-radius: 15px;
    text-align: center;
    font-size: 120%;
    font-weight: 100;
    margin: 10px 0;
}

.required::placeholder{
    color: var(--background);
    font-style: normal;
}

.nonrequired{
    width: 70%;
    border: 2px solid var(--background);
    background-color: var(--lightDark);
    color: var(--background);
    letter-spacing: 1.3%;
    padding: 1% 1%;
    margin: 20px auto;
    border-radius: 7px;
    text-align: center;
    font-size: 120%;
    font-weight: 100;
    margin: 10px 0;
}

.nonrequired::placeholder{
    color: var(--background);
    font-style: normal;
}

.Text{
    color: var(--dark);
    font-size: 150%;
    background-color: var(--textColorB7);
    font-weight: 100;
    margin: 20px auto;
}

.Title{
    color: var(--background);
    font-size: 300%;
}

.legend{
    color: var(--background);
    font-size: 150%;
}

.button{
    width: auto;
    border: 5px solid var(--blue);
    background-color: var(--blue);
    color: var(--background);
    padding: 1% 5%;
    margin: 20px auto;
    font-size: 120%;
    border-radius: 15px;
}

.selector{
    width: 40%;
    border: 2px solid var(--background);
    background-color: var(--lightDark);
    color: var(--background);
    padding: 1% 1%;
    margin: 20px auto;
    font-size: 100%;
    border-radius: 7px;
}

.comments{
    width: 100%;
    border: 2px solid var(--background);
    background-color: var(--lightDark);
    color: var(--background);
    padding: 1% 1%;
    margin: 0px -10%;
    font-size: 100%;
    border-radius: 7px;
}

.comments::placeholder{
    color: var(--background);
}